body {
    padding-left: 50px;
    background-color: #e9ddbc;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #cfc9af, #cfc9af 1px, #e9ddbc 1px, #e9ddbc);
}

h1 {
    font-size: 60px;
    font-family: "courier new", monospace;
    font-weight: lighter;
    letter-spacing: -5px;
    position: relative;
    left: 70px;
}

h2 {
    position: relative;
    font-family: "courier new", monospace;
    font-weight: lighter;
    top: -70px;
    left: 160px;
}

input {
    width: 30%;
    padding: 12px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
    resize: vertical;
    padding-left: 20px;
    box-shadow: 3px 3px 10px gray;
}

#writetask {
    position: relative;
    top: -40px;
    font-size: 40px;
    color: rgb(175, 175, 175);
    font-family: "courier new", monospace;
    font-weight: lighter;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius:40px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 113px;
}

.fa-check {
    position: absolute;
    left: 115px;
    font-size: 40px;
    border: none; 
    background: none;
    opacity: 0%;
    cursor: pointer;
}

.fa-trash-o {
    position: relative;
    font-size: 40px;
    background: none;
    border: none;
    opacity: 0%;
    cursor: pointer;
    padding-left: 30px;
}

.fa-trash-o:hover {
    opacity: 80%;
}

.fa-check:hover {
    opacity: 20%;
}

.addedtask {
    display: flex;
    align-items: flex-start;
}

#todolist {
    list-style-type: none;
    min-height: 30%;
}

.todotext {
    padding: 10px 10px;
    padding-left: 80px;
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.flower {
    position: fixed;
    left: 700px;
    top: 150px;
    box-shadow: 3px 3px 10px gray;
}

.quote {
    position: fixed;
    left: 1100px;
    top: 100px;
    box-shadow: 3px 3px 10px gray;
}

.chart {
    position: fixed;
    top: 750px;
}